body {
    --minSupportedBrowserHeight: 300px;
}

section.cs-gallery-container {
    width: calc(100% - 65px);
    height: 100%;
    left: 65px;
    position: absolute;
    padding: 0 10px 10px;
}

#logo {
    position: relative;
    right: 0;
    left: 0;
    text-align: center;
}

#logo img {
    width: auto;
}

select {
    appearance: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background-color: var(--asng-personality-color);
    border: 0;
    border-radius: 20px;
    padding: 10px 20px;
    min-width: 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
} 

option {
    font-family: Tahoma;
    font-size: 13px;
    font-weight: normal;
}

#gallery-menu {
    display: flex;
    gap: 30px;
}

.gallery-alternative {
    position: absolute;
    right: 20px;
}

.gallery-submit a, .gallery-alternative a {
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 20px;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--asng-personality-color-dark);
    border: 2px solid;
    font-weight: bold;
    transition: all 200ms;
}

.gallery-submit a:hover, .gallery-alternative a:hover {
    transform: scale(1.1);
}

.gallery-submit span {
    line-height: 0.8;
}

#wip-layout {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-content: center;
    align-items: center;
    display: grid;
    z-index: 99;
    background-color: #000b;
}

#wip-popup {
    padding: 20px 40px;
    background-color: #fff;
    max-width: 70%;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    font-size: 2.5vh;
    box-shadow: 0 0 20px var(--asng-personality-color-dark);
}

.button-container {
    margin: 30px 0 10px;
}

.button-gallery-popup {
    background-color: var(--asng-personality-color-dark);
    padding: 10px;
    max-width: 150px;
    margin: auto;
    border-radius: 50px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: all 200ms;
}

.button-gallery-popup:hover {
    background-color: var(--asng-personality-color);
    box-shadow: 2px 4px 2px var(--asng-personality-color-dark);
}

.cs-gallery-container {
    overflow-x: hidden;
}

.cs-gallery-content {
    position: relative;
    /* overflow: auto; */
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    margin: 20px 0;
    grid-gap: 10px;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-auto-flow: dense;
    /* grid-template-rows: 15em; */
}

.empty-gallery {
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 0 0 10px #000;
    padding: 20px;
}

.post-container {
    background-color: #fff8;
    box-shadow: 0 0 10px #aeaeae;
    aspect-ratio: 3.5/2.56;
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    height: 100%;
}

.post-container:hover {
    box-shadow: 0 0 10px #8a8a8a;
}

.post-container.portrait {
    grid-row-end: span 2;
    aspect-ratio: 1/1.5;
    max-height: 200%;
    text-align: center;
}

.post-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.post-container .author-info {
    top: -50px;
    position: absolute;
    transition: all 500ms;
    left: 10px;
    z-index: 2;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 5px #aaa;
    color: #000;
    font-size: 18px;
    cursor: default;
}

.post-container:hover .author-info {
    top: 10px;
}

.author-info a, #wip-popup a {
    color: var(--asng-personality-color-dark);
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}
.post-content img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
    position: relative;
}

.portrait .post-content img {
    width: auto;
    max-width: 100%;
}

#image-layout {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
    background-color: #000d;
    z-index: 99;
    width: 100%;
    display: none;
}

#image-layout img {
    margin: auto;
    position: relative;
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.pagination {
    display: none;
    text-align: center;
    position: relative;
    margin: 20px;
}

#page-info {
    min-width: 70px;
    background-color: #fff;
    padding: 10px;
    align-self: center;
    border-radius: 50px;
    border: 2px solid var(--asng-personality-color-dark);
    color: var(--asng-personality-color-dark);
    font-weight: bold;
}

.pages {
    display: inline-flex;
    gap: 1em;
    position: relative;
}

.page {
    background-color: var(--asng-personality-color);
    position: relative;
    padding: 8px 10px;
    color: #fff;
    text-transform: uppercase;
    
    border-radius: 20px;
    cursor: pointer;
}

.page .material-symbols-outlined {
    font-size: 1.7vw;
}
/* 
.page:nth-child(2) {
    display: none;
} */

@media only screen and (max-width: 510px) {
}